
.error{
    height: 100vh;
    width: 100%;
    background-color: #f4aaaa;
    h1{
        color: rgb(0, 0, 0);
        font-size: 3rem;
        text-align: center;
        padding-top: 8rem;
    }

    p{
        color: rgb(0, 0, 0);
        font-size: 1.3rem;
        text-align: center;
        margin-top: .5rem;
    }

    img{

        display: block;
        margin: 2rem auto;
        height: 50vh;
    }
}