@{
    ViewData["Title"] = "AddStock";

}

<h1>AddStock</h1>

<div class="form">
    <formgroup>
        <label for="stockName">Stock Name</label>
        <input type="text" class="form-control" id="stockName" placeholder="Enter Stock Name">
    </formgroup>
    <formgroup>
        <label for="stockSymbol">Stock Symbol</label>
        <input type="text" class="form-control" id="stockSymbol" placeholder="Enter Stock Symbol">
    </formgroup>
    
    <button type="submit" class="btn btn-primary">Add Stock</button>
    
</div>