@{
    ViewData["Title"] = "All Stocks";
    @model StockViewModel
}

<h1>Display All Stocks</h1>


<table class="stocks">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Symbol</th>
        <th>CreationDate</th>
        <th colspan="2" class="operations">Operation</th>
    </tr>
    @foreach (var stock in Model.Stocks)
    {
        <tr>
            <td>@stock.StockId</td>
            <td>@stock.StockName</td>
            <td>@stock.StockSymbol</td>
            <td>@stock.CreationDate</td>
            <td class="operations">
                <a href="UpdateStock/@stock.StockId"><button class="AllStockbutton1">Edit</button></a>
                <a href="DeleteStock/@stock.StockId"><button id="deleteButton" class="AllStockbutton" onclick="return confirm('Are you sure you want to delete?');" );>Delete</button></a>
            </td>
        </tr>
    }
</table>
