@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Stock Market</h1>
    <p class="info">
        Stock Market is a place where you can buy and sell shares of companies.
        <br>
        Only registered users can buy and sell shares.
    </p>

    <p>
        Money is not real. It is a conscious agreement on measuring value.
        <br>
        Money hai toh honey hai.
    </p>
    <iframe src="https://giphy.com/embed/bMycGOQLESDCEnLNUz" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/moodman-reaction-bMycGOQLESDCEnLNUz">via GIPHY</a></p>

</div>
